<!DOCTYPE html>
<html lang="en">
  <title> Data Collector App</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
    <title> Data Collector App</title>
  </head>
  <body>
    <div class="container">
      <p class="success-message"> Thank you for your submission! <br>
        You will receive an email with the survey results shortly.
      </p>
      
      <div  class="health">
      <p>Also! Check these Articles out</p>
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4890841/">Body Mass Index By NIH</a><br>
      <a href="https://www.hsph.harvard.edu/nutritionsource/healthy-eating-plate/">Healthy Eating By Nutrition Source</a><br>
      <a href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/12-tips-to-help-you-lose-weight/">How To Lose Weight by NHS</a>
      </div>
    </div>
  </body>
</html>
    
